body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	list-style: none;
	padding: 0;
}

.users li {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	column-gap: 1em;
	padding: 1em;
	border-top: 1px dotted #555;

	&.warning {
		background-color: hsla(354, 70%, 54%, 0.25);

		&:hover {
			background-color: hsla(354, 70%, 54%, 0.45);
		}
	}

	&:hover {
		background-color: #eee;
	}

	>div {
		&:nth-child(1) {
			width: 128px;
			text-align: center;
			height: min-content;
			flex-shrink: 0;
			min-height: 64px;
			font-size: 0.6em;
			color: #777;
		}

		&:nth-child(2) {
			width: calc(100% - 128px - 1em);
			display: flex;
			flex-direction: column;
			row-gap: 0.5em;
			flex-grow: 1;
		}
	}

	>div>div {
		display: flex;
		column-gap: 0.5em;
		font-size: 1.2em;
		vertical-align: baseline;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		font-size: 1.5em;
		font-weight: normal;
	}

	.loc span {
		font-size: 0.7em;
		font-style: italic;

		&:nth-child(2) {
			font-weight: bold;
		}
	}
}

img {
	width: 100%;
	height: auto;
	box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05), 0 2px 8px hsla(0, 0%, 0%, 0.05);
	border-radius: 3px;
	background-color: white;
}

pre {
	margin: 0;
	overflow: auto;
	padding-bottom: 1em;
}

.badge,
.btn {
	padding: 5px 10px;
	padding: 0.32em 0.62em;
	color: white;
	border-radius: 3px;
	text-decoration: none;
	font-size: 0.65em;
}

.btn {
	background-color: hsl(211, 100%, 50%);

	&:hover {
		color: white;
		background-color: hsl(211, 84%, 40%);
		text-decoration: none;
	}
}

.badge {
	font-size: 0.46em;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-left: auto;

	&.badge-warning {
		background-color: hsl(354, 70%, 54%);
	}
}

.pagination {
	ul {
		display: flex;
		flex-wrap: wrap;
	}

	li {
		display: inline-block;

		a {
			padding: 0.4em 1em;
			white-space: nowrap;
			display: block;
		}

		a:hover {
			background-color: #eee;
		}
	}
}
